:host {
  display: block;
  width: 100%;
}

.packages-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(360px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
  padding: 1rem 0;
}

.package-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}


@media (min-width: 1025px) and (max-width: 1480px) {
  .packages-grid {
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 1rem;
  }
  .package-link {
    max-width: 420px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .packages-grid {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 1rem;
    justify-items: center;

  }
  .package-link {
    max-width: 460px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .packages-grid {
    grid-template-columns: repeat(1, minmax(320px, 1fr));
    gap: 1rem;
    justify-items: center;

  }
  .package-link {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .packages-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
  }
  .package-link {
    max-width: 400px;
  }
}

