:host {
  display: block;
}

.services-gallery {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  border-radius: 0.25rem;

  scroll-behavior: auto
}

.services-gallery::-webkit-scrollbar {
  display: none;
}

.service-link {
  /* scroll-snap-align: start; */
  display: block;
  text-decoration: none;
}



@media(max-width:600px) {
  .services-gallery {
    border-radius: 0.25rem;
  }

}
