<section class="feature-discovery-section">
    <div class="header-content">
        <h2 class="title" [innerHTML]="title()"></h2>
        <p class="description" [innerHTML]="description()"></p>
    </div>

    <div class="discovery-items">
        <ng-content select="[discoveryItems]"></ng-content>
    </div>

    @if (link() && linkText()) {
    <div class="discovery-footer">
        <a [routerLink]="link()" class="explore-button">
            {{linkText()}}
        </a>
    </div>
    }

</section>