<div class="page-content">

  <main-header-section [head]="header.head" [image]="header.image" [objectPosition]="header.objectPosition" />
  <div class="discover-package-container">
    <section class="discover-package-section">

      <header class="discover-header">
        <h2>{{ packageDetails.title | translate }}</h2>
        <p> {{ packageDetails.description | translate }}</p>
      </header>

      <section class="offer-details-container">

        <!-- Columna izquierda -->
        <div class="offer-column itinerary">
          <h3>{{ 'package.itineraryTitle' | translate }}</h3>

          <ul>
            @for (item of packageDetails.itinerary; let i = $index; track i) {
            <li>
              <strong>{{ 'package.includes.day' | translate }} {{ i + 1 }}:</strong>
              {{ item | translate}}
            </li>
            }
          </ul>

        </div>

        <!-- Columna derecha -->
        <div class="offer-column includes">
          <h3>{{ 'package.includesTitle' | translate }}</h3>

          <ul>
            <li>
              <h4>{{ 'package.includes.lodging' | translate }}:</h4>

              <ul>
                <li><strong>{{ 'package.includes.duration' | translate }}:</strong>&nbsp;{{
                  packageDetails.includes.duration | translate }}
                </li>
              </ul>
            </li>

            <li>
              <h4>{{ 'package.includes.experiences' | translate }}:</h4>

              <ul>
                @for (experience of packageDetails.includes.activities; let i = $index; track i) {
                <li>{{ experience | translate }}</li>
                }
              </ul>
            </li>

            <li>
              <h4>{{ 'package.includes.gastronomy' | translate }}:</h4>

              <ul>
                @for (meal of packageDetails.includes.gastronomy; let i = $index; track i)
                {
                <li>{{meal | translate}}</li>
                }

              </ul>
            </li>

            <li>
              <h4>{{ 'package.includes.transportation' | translate }}:</h4>

              <ul>
                @for (transport of packageDetails.includes.transportation; let i = $index; track i) {
                <li>{{transport | translate}}</li>}
              </ul>
            </li>
          </ul>

          <hr class="divider" />

          <div class="offer-total">
            <span class="total-label">{{ 'package.total' | translate }}:</span>

            <div class="total-info">
              <span class="amount">00.00</span>
              <span class="currency">USD</span>
              <span class="note">{{ packageDetails.pricing.unit | translate }}</span>
            </div>
          </div>
          <button class="reserve-btn">
            {{ 'package.reserveButton' | translate }}
          </button>

        </div>
      </section>
    </section>
  </div>


  <explore-items-section [title]="'explorePackages.title' | translate"
    [description]="'explorePackages.description' | translate" [linkText]="'explorePackages.linkText' | translate"
    [items]="allPackages" [link]="'/packages'" [cardTemplate]="packageItemTemplate">
  </explore-items-section>


</div>

<ng-template #packageItemTemplate let-package>
  <package-item [image]="package.background" [alt]="package.title" [title]="package.title" [duration]="package.duration"
    [description]="package.description" [price]="package.price" [perUnit]="package.perUnit">
  </package-item>
</ng-template>