<section class="review-form">
  <div class="form-header">
    @if (isInitialLoading()) {
      <div class="user-block loading-skeleton">
        <div class="user-avatar skeleton"></div>
        <div class="skeleton-line skeleton"></div>
      </div>
    } @else {
      <div class="user-block">
        @if (user()) {
          <img [src]="userPhoto()" alt="Avatar" class="user-avatar" />
          <span class="user-name">{{ userDisplayName() }}</span>
        } @else {
          <div class="user-avatar anonymous-avatar">
            <img
              [src]="anonymousAvatarPath()"
              alt="Anónimo"
              class="avatar-svg-render"
            />
          </div>
          <span class="user-name">{{"REVIEW_FORM.ANONYMOUS_GREETING"|translate}}</span>
        }
      </div>
    }
  </div>

  <div class="form-body">
    <h2 class="form-title" [innerHTML]="'REVIEW_FORM.FORM_TITLE' | translate"></h2>
    <div class="review-stars interactive">
      @for (s of stars; track s) {
        <span
          class="material-symbols-outlined"
          (click)="user() ? rating.set(s) : null"
          [style.color]="getStarStyle(rating(), s).color"
          [style.font-variation-settings]="getStarStyle(rating(), s).css"
        >
          star
        </span>
      }
    </div>

    <p class="form-subtitle">{{"REVIEW_FORM.FORM_SUBTITLE" | translate}}</p>

    <div class="feedback-wrapper">
      @if (!user()) {
        <div class="auth-overlay">
          <div class="auth-card">
            <p [innerHTML]="'REVIEW_FORM.AUTH_PROMPT' | translate"></p>
            <button 
            
            
            [disabled]="isButtonDisabled()"
            
            class="google-login-btn" (click)="loginWithGoogle()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#EA4335"
                  d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
                />
                <path
                  fill="#4285F4"
                  d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
                />
                <path
                  fill="#FBBC05"
                  d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
                />
                <path
                  fill="#34A853"
                  d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
                />
              </svg>
              {{ "REVIEW_FORM.AUTH_BUTTON" | translate}}
            </button>
          </div>
        </div>
      }

      <div class="textarea-container" [class.is-blurred]="!user()">
        <textarea
          [(ngModel)]="comment"
          class="form-textarea"
          [disabled]="!user()"
          [placeholder]="'REVIEW_FORM.TEXTAREA_PLACEHOLDER' | translate"

[placeholder]="isEmptyWarning() 
    ? ('REVIEW_FORM.EMPTY_WARNING' | translate) 
    : ('REVIEW_FORM.TEXTAREA_PLACEHOLDER' | translate)"


          maxlength="500"
          rows="4"
        ></textarea>
        <div class="char-counter" [class.limit]="commentLength() > 450">
          {{ commentLength() }}/500 {{ "REVIEW_FORM.CHARACTER_COUNTER" | translate }}
        </div>
      </div>
    </div>

    <p class="form-description">
      {{ "REVIEW_FORM.FORM_DESCRIPTION" |translate}}
    </p>
    <div class="form-submit-container">
      <button
        class="form-submit"
        [class.visible]="user()"
        (click)="sendReview()"
      >
        {{ "REVIEW_FORM.SUBMIT_BUTTON" |translate}}
      </button>
    </div>
  </div>
</section>
