:host {
  display: block;
  background-color: #f7faf7;
}

.rooms-section {
  display: flex;
  justify-content: flex-start;
  background-color: #E4EAE5;
  overflow: hidden;
}

.rooms-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 1568px;
  box-sizing: content-box;
  padding-left: max(5rem, calc((100vw - 1728px) / 2 + 5rem));

  gap: 2.5rem;
  position: relative;
}

.info-container {
  display: flex;
  flex: 0 0 400px;
  align-items: stretch;
}

/* Envoltura de la galería */
.gallery-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1024px) and (max-width: 1280px) {

  .info-container {
    flex: 0 0 auto;
    margin: 0 5rem;
  }

  .rooms-container {
    flex-direction: column;
    align-items: center;
    padding:0;
    box-sizing:border-box;

    gap: 0.2rem;
  }

  .gallery-wrapper {
    padding-left: 5rem;
  }
}

/* ==========================
   DESKTOP PEQUEÑO – 1024px
   ========================== */


@media (min-width: 769px) and (max-width: 1024px) {

  .info-container {
    flex: 0 0 auto;
    margin: 0 4rem;
  }

  .rooms-container {
    flex-direction: column;
    align-items: center;
    padding:0;
    box-sizing:border-box;

    gap: 0.2rem;
  }



  .gallery-wrapper {
    padding-left: 4rem;
  }
}


@media (min-width: 601px) and (max-width: 768px) {

  .info-container {
    flex: 0 0 auto;
    margin: 0 2.5rem;
  }

  .rooms-container {
    flex-direction: column;
    padding:0;
    box-sizing:border-box;

    align-items: center;
    gap: 0.2rem;
  }



  .gallery-wrapper {
    padding-left: 2.5rem;
  }
}

@media(max-width: 600px) {

  .rooms-container {
    flex-direction: column;
    padding:0;
    box-sizing:border-box;
    align-items: center;
    gap: 1rem;
  }

  .info-container {
    margin-left: 0;
    flex: 0 0 auto;
    /* o simplemente flex: none; */
    align-self: center;
    /* opcional: centra el bloque en el eje cruzado */
    width: 100%;
    max-width: 400px;
  }

  .gallery-wrapper {
    width: 100%;
    overflow: visible;
  }

  .room-link {
    flex: 0 0 80%;
    /* 👈 fuerza el desborde horizontal */
  }
}