:host {
  display: block;
  background-color: #f7faf7;
}

.rooms-section {
  display: flex;
  /* justify-content: flex-start; */
  background-color: #e4eae5;
  overflow: hidden;
}

.rooms-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  /* padding-right: 0; */
  gap: 2.5rem;
  position: relative;
}

.info-container {
  display: flex;
  flex: 0 0 400px;
  align-items: stretch;
}

/* Envoltura de la galería */
.gallery-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}

/* @media (min-width: 1729px) {
  .section-inner {
    padding-right: 5rem;
  }
} */

@media (max-width: 1280px) {
  /* .section-inner {
    padding-right: 0;
  } */
  .info-container {
    flex: 0 0 auto;
    /* margin: 0 5rem; */
  }

  .rooms-container {
    flex-direction: column;
    align-items: center;
    /* padding: 0; */
    gap: 0.2rem;
  }
}

@media (max-width: 600px) {
  .rooms-container {

    gap: 1rem;
  }

  .gallery-wrapper {
    width: 100%;
    overflow: visible;
  }

  .room-link {
    flex: 0 0 80%;
  }
}
