<div class="rooms-section section-outer">
  <div class="rooms-container section-inner">
    <div class="grid-header-info">
      <h2 class="title">{{ info().title | translate }}</h2>
      <p class="description">{{ info().description | translate }}</p>
    </div>

    @for (room of rooms(); track $index) {
      <room-item
        [src]="room.images[0].src"
        [alt]="room.images[0].alt"
        [name]="room.title"
        [details]="room.capacity"
        [link]="''">
      </room-item>
    }
  </div>
</div>
