:host {
  display: block;
  background: #E4EAE5;
  position: relative;
  z-index: 2;
  border-radius: 3rem 3rem 0 0;
  font-family: 'Poppins', sans-serif;
}

.experiences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 5rem 5rem;
}

.gallery-hiking-section,
.gallery-header {
  width: 100%;
  max-width: 1568px;
}


.gallery-header h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.875rem;
  margin: 0;
  color: #D17D00;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
    padding-top: 1.75rem;

  gap: 1.5rem;
}

.gallery-item {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 1.75rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  color: #fff;
  transition: background .3s ease;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.375rem;
}

.gallery-item:hover .overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}


@media(max-width:1560px) {
.gallery-grid {grid-auto-rows: 18rem;padding-top: 1.5rem;}
}

@media(max-width:1440px) {
.gallery-grid {grid-auto-rows: 17rem; }
.overlay {font-size: 1.5rem}
}

@media (max-width: 1280px) {
  :host { border-radius: 2.5rem 2.5rem 0 0;}
  .experiences-container { padding: 2.75rem 5rem 5rem;}
  .gallery-grid {grid-auto-rows: 14rem;padding-top: 1.25rem;}
  .overlay {font-size: 1.2rem;}
}

@media (max-width: 1024px) {
  :host { border-radius: 2rem 2rem 0 0;}

  .experiences-container {padding: 2.75rem 4rem 4rem;}

  .gallery-grid { 
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 17rem;
    gap: 1rem;
  }

  .overlay {font-size: 1.35rem;
    line-height: 1.25;
  }

  .gallery-header h2 {
    font-size: 1.75rem;
    line-height: 1.1;
  }

}

@media (max-width: 768px) {
  :host {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .experiences-container {
    padding: 2.5rem;
  }

    .gallery-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 16rem;
    justify-content: center;
    padding-top: 1rem;

    gap: 1rem;

  }
  

   .overlay {
    font-size: 1.35rem;
    justify-content: center;
    line-height: 1.25;

  }
}



@media (max-width: 600px) {
  :host { border-radius: 1rem 1rem 0 0; }

  .gallery-grid {
    grid-template-columns: minmax(0, 400px);
    grid-auto-rows: 15.5rem;
    justify-content: center;
    gap: 1rem;

  }


 .experiences-container {
    padding: 1.5rem 1rem;
  }

  .overlay {

    font-size: 1.35rem;

    justify-content: center;

    text-align: center;

    line-height: 1.25;

  }

.gallery-header {
    max-width: 400px;
  }

.gallery-header h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

}
