<div class="experiences-container">
<div class="gallery-header">
  <h2>{{ title() | translate }}</h2>
</div>

<section class="gallery-hiking-section">
  <div class="gallery-grid">
    @for (img of images(); track $index) {
      <a class="gallery-item" [routerLink]="img.path">
        <img
          [src]="img.src"
          [alt]="img.title | translate"
          loading="lazy"
        />
        <div class="overlay">
          <span>{{ img.title | translate }}</span>
        </div>
      </a>
    }
  </div>
</section>
</div>

