:host {
  display: block;
}

.package-card {
  position: relative;
  width: 100%;
  aspect-ratio: 0.85;
  border-radius: 1rem;
  overflow: hidden;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}


/* Hover visual */
.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

/* Imagen */
.package-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.6s ease;
  opacity: 1;
}

/* Zoom en hover */
.package-card:hover img {
  transform: scale(1.08);
}

/* ───────────────────────────────
   📋 OVERLAY DE TEXTO
   ─────────────────────────────── */
.package-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: 1.75rem;

  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.1) 100%);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.card-header h2 {
  font-size: 1.75;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.package-overlay .duration {
  font-size: 1rem;
  letter-spacing: 0.0325rem;
  opacity: 0.85;
}

.package-overlay .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.03125rem;
  opacity: 0.85;
}

.package-overlay .description:hover {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

.package-overlay .price {
  font-size: 1.75rem;
  font-weight: 700;
}

.per-unit {
  display: inline-block;
  vertical-align: 2px;
  font-size: 1rem;
  letter-spacing: 0.0325rem;
}

@media (max-width: 600px) {
  .package-card {
    min-width: unset;
    width: 100%;
    aspect-ratio: 5 / 6;
    flex: 1 1 auto;
  }

  .package-overlay {
    padding: 1rem;
  }

  .package-overlay h2 {
    font-size: 1rem;
    line-height: 1.05rem;
    letter-spacing: 0.00625rem
  }

  .package-overlay .duration {
    font-size: 0.65rem;
    line-height: 0.85rem;
    letter-spacing: 0.02rem;
  }

  .package-overlay .description {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem;
  }

  .package-overlay .price {
    font-size: 1rem;
    line-height: 1.05rem;
    letter-spacing: 0.00625rem;
  }
}
