:host {
  display: block;
  font-family: Poppins, sans-serif;
}

.experience-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 1rem;
  text-align: center;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.01);
}

.experience-item h2 {
  color: #186B53;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.375rem;
  line-height: 1.3;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .experience-item {
    gap: 0.8rem;
  }

  .image-wrapper {
    aspect-ratio: 16 / 13;

    /* menos alto, más ancho */
  }

  .experience-item h2 {
    font-size: 1.6rem;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .experience-item {
    gap: 0.8rem;
  }

  .image-wrapper {
    aspect-ratio: 16 / 13;
  }

  .experience-item h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .image-wrapper {
    border-radius: 0.75rem;
    aspect-ratio: 16 / 13;
    /* Antes: 1/1 */
  }

  .experience-item h2 {
    font-size: 1.5rem;
    /* más pequeño para tablet */
    line-height: 1.4;
    /* opcional: mantener buena legibilidad */
  }

  .experience-item {
    gap: 0.5rem;
  }
}


@media (max-width: 600px) {

  .image-wrapper {
    border-radius: 0.75rem;
  }

  .experience-item h2 {
    font-size: 1.5rem;
  }

  .experience-item {
    gap: 0.5rem;
  }

}