:host {
  display: block;
  width: 100%;
  max-width: 100%;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  padding-top: 12px;

}

.main-image-wrapper {
  position: relative;
  border-radius: 16px;
  aspect-ratio: 2;
  grid-column: span 6;
  overflow: hidden;
}

.thumb-image-wrapper {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 1.41;
  grid-column: span 2;

  /* por defecto 3 thumbs -> 2 columnas c/u */
}

.gallery-grid:not(:has(.thumb-image-wrapper)) .main-image-wrapper {
  aspect-ratio: 1.35;
  /* nuevo ratio cuando no hay thumbs */
}

/* Ajuste si solo hay 2 thumbs */
.gallery-grid:has(.thumb-image-wrapper:nth-last-child(2):nth-child(2)) .thumb-image-wrapper {
  grid-column: span 3;
  /* 2 thumbs → 3 columnas cada una */
}

/* imágenes dentro */
.main-image-wrapper img,
.thumb-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* gradiente encima */
.main-image-wrapper::after,
.thumb-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.1));
  pointer-events: none;
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .gallery-grid {
    padding: 0;
  }

  .main-image-wrapper {
    aspect-ratio: 2.85 / 1;
    /* más ancho → menos altura */
  }

  .thumb-image-wrapper {
    aspect-ratio: 1.9 / 1;
  }

  /* Caso especial: sin thumbs */
  .gallery-grid:not(:has(.thumb-image-wrapper)) .main-image-wrapper {
    aspect-ratio: 2.8 / 1;
  }
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
  }

  .main-image-wrapper {
    grid-column: span 6;
    border-radius: 0.5rem;
  }

  .thumb-image-wrapper {
    grid-column: span 2;
    border-radius: 0.5rem;
  }

  /* Si solo hay 2 thumbs → que ocupen mitad y mitad */
  .gallery-grid:has(.thumb-image-wrapper:nth-last-child(2):nth-child(2)) .thumb-image-wrapper {
    grid-column: span 3;
  }
}
