:host {
  display: block;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.promo-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;

  padding: 12px 20px;
  background-color: #FFB86E;
  color: #08372A;
  font-size: 15px;
  overflow: hidden;
  line-height: 1.4;
  height: fit-content;
  text-decoration: none;

}

.promo-banner a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.message {
  margin: 0;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Animación de entrada suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

