.promo-banner {

  padding: 12px 20px;
  background-color: #FFB86E;
  /* verde oscuro de ejemplo */
  color: #08372A;
  font-size: 15px;
  overflow: hidden;
  font-family: "Poppins",sans-serif;
  line-height: 24px;
  height: 56px;
  align-content: center;
  text-decoration: none;

}

a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit;         /* Hace que el link use el color del texto que lo rodea */
}

.message-container {
  align-content: center;
}

.message {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.message.active {
  opacity: 1;
}
