<div class="page-content">

  <!-- HEADER -->
  <main-header-section [head]="{
      title: header.title,
      description: header.description
    }" />

  <!-- GALLERY -->
  <gallery-info-section [mainImage]="gallery.mainImage" [thumbImages]="gallery.thumbImages" [title]="gallery.title"
    [description]="gallery.description" [link]="gallery.link" [features]="gallery.features"
    [featuresTitle]="gallery.featuresTitle" [reverse]="gallery.reverse ?? false" [color]="gallery.color"
    [hasHostBg]="gallery.hasHostBg" />

  <room-navigator (onPrev)="goPrev()" (onNext)="goNext()">
  </room-navigator>

  <!-- OFFER -->
  <room-offer-section [background]="offer.background" [title]="offer.title" [subtitle]="offer.subtitle"
    [duration]="offer.duration" [description]="offer.description" [price]="offer.price" [currency]="offer.currency"
    [perUnit]="offer.perUnit" [link]="{ text: offer.textLink??'', url: offer.path??'' }"
    [objectPosition]="offer.objectPosition" [transform]="offer.transform" [transformOrigin]="offer.transformOrigin" />

  <!-- EXPLORAR HABITACIONES -->
  <explore-items-section class="mt-negative" [title]="'exploreRooms.title'" [description]="'exploreRooms.description'"
    [linkText]="'exploreRooms.linkText'" [items]="rooms.slice(0,5)" [link]="'/services-facilities/facilities'"
    [cardTemplate]="roomCardTemplate">
  </explore-items-section>



</div>


<ng-template #roomCardTemplate let-room>
  <room-card [room]="room"></room-card>
</ng-template>