<section class="header-section">
  <div class="text-content">
    @if (head()) {
    <h1>{{ head()!.title }}</h1>
    <p [innerHTML]="head()!.description"></p>
    }
    @else {
    <div class="skeleton skeleton-text skeleton-title" ></div>
    <div class="skeleton skeleton-text skeleton-para"></div>
    <div class="skeleton skeleton-text skeleton-para short"></div>
    }
  </div>

  @if (reserveSpace()) {
  <div class=" image-wrapper" [class.skeleton]="!image() || !isLoaded()">
      @if (image()) {
      <img [src]="image()!.src" [alt]="image()!.alt" (load)="onImageLoad()" loading="lazy"/>
      }
    </div>
    }
</section>