:host {
  display: block;
  background: #E4EAE5;
  overflow: hidden;
}

.discover-experiences-section {
  display: flex;
  padding: 5rem;
  border-radius: 3rem 3rem 0 0;
  justify-content: center;
  background: #f7faf7;
}

.experiences-wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  max-width: 1568px;

  width: 100%;
}

/* ==========================
   DESKTOP PEQUEÑO – 1024px
   ========================== */
@media (min-width: 1024px) and (max-width: 1280px) {

  .discover-experiences-section {
    padding: 5rem;
    border-radius: 2.5rem 2.5rem 0 0;
    justify-content: center;
  }

  .experiences-wrapper {
    gap: 1.5rem;
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .discover-experiences-section {
    padding: 3.5rem 4rem;
    border-radius: 2rem 2rem 0 0;
    justify-content: center;
  }

  .experiences-wrapper {
    gap: 1.5rem;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }
}


@media (min-width: 601px) and (max-width: 768px) {
  .discover-experiences-section {
    padding: 2.5rem;
    border-radius: 1.5rem 1.5rem 0 0;

  }

  .experiences-wrapper {
    gap: 0.75rem;
  }

}


@media (max-width: 600px) {

  .discover-experiences-section {
    padding: 2rem 1rem;
    border-radius: 1rem 1rem 0 0;
    justify-content: center;
  }

  .experiences-wrapper {
    gap: 1rem;
    max-width: 400px;
    width: 100%;
  }

}