:host {
  display: flex;
  background-color: #e4eae5;
  justify-content: center;
  --section-nav-padding : 0 5rem 2rem;
}

.wrapper-nav {
  max-width: 1568px;
  width: 100%;
}

.section-nav {
  max-width: 90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-nav-padding);
}

.nav-btn {
  background: transparent;
  border: none;
  color: #186b53;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
}

.nav-btn:hover {
  color: #d17d00;
  transform: translateX(0);
  /* Preparado para animación */
}

.nav-btn.prev:hover {
  transform: translateX(-5px);
}

.nav-btn.next:hover {
  transform: translateX(5px);
}

/* 1025px - 1280px */
@media (max-width: 1280px) {
  :host {
    --section-nav-padding : 0 4rem 2rem;
  }
}

/* 769px - 1024px */
@media (max-width: 1024px) {
  :host{
    --section-nav-padding : 0 3rem 1rem;
  }
  .arrow-icon {
    font-size: 1.2rem;
  }
  .nav-btn {
    font-size: 1.1rem;
  }
}

/* 601px - 768px */
@media (max-width: 768px) {
  :host{
    --section-nav-padding : 0 2rem 1rem;
  }

  .arrow-icon {
    font-size: 1.1rem;
  }
  .nav-btn {
    font-size: 1rem;
  }
}

/* < 600px */
@media (max-width: 600px) {
    :host{
      --section-nav-padding : 0 1rem 1rem;
    }
  .arrow-icon {
    font-size: 0.9rem;
  }
  .nav-btn {
    font-size: 0.875rem;
  }
}
