<div class="gallery-grid">
  @if (mainImage(); as main) {
    <div class="main-image-wrapper" [class.skeleton]="!mainImageLoaded()"  (click)="openImage(main)">
      <img
        [src]="main.src"
        [alt]="main.alt"
        (load)="onMainImageLoad()"
        [style.opacity]="mainImageLoaded() ? 1 : 0"
        loading="eager"
      />
    </div>
  } @else {
    <div class="main-image-wrapper skeleton"></div>
  }

  @if (isActive()) {
    @if (thumbImages() === undefined || thumbImages()?.length === 0) {
      @for (item of [1, 2, 3]; track $index) {
        <div class="thumb-image-wrapper skeleton"></div>
      }
    } @else {
      @for (image of thumbImages(); track $index) {
        <div class="thumb-image-wrapper" [class.skeleton]="!allThumbsLoaded()" (click)="openImage(image)">
          <img
            [src]="image.src"
            [alt]="image.alt"
            (load)="onThumbsImageLoad()"
            [style.opacity]="allThumbsLoaded() ? 1 : 0"
            loading="lazy"
          />
        </div>
      }
    }
  }
</div>

@if (selectedImage(); as selected) {
  <div class="lightbox-overlay" (click)="closeImage()">
    <button class="close-btn" (click)="closeImage()">&times;</button>
    <div class="lightbox-content" (click)="$event.stopPropagation()">
      <img [src]="selected.src" [alt]="selected.alt" />
    </div>
  </div>
}