:host {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.discover-package-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2.5rem;
  padding:5rem;
  background-color: #f6f1e9;
  border-radius: 3rem 3rem 0 0;
}

.discover-info {
  margin: 0 auto;
  max-width: 1568px;
  width: 100%;
  text-align: left;
}

h2 {
  color: #d17d00;
  font-family: Poppins, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.875rem;
  margin-bottom: 1rem;
}

p {
  color: #234e3f;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.03125rem;
  margin: 0;
}

strong {
  font-weight: 700;
}
@media (min-width: 1122px) and (max-width: 1480px) {
   .discover-package-section {
    padding:4rem;
    gap: 1rem;
    border-radius: 3rem 3rem 0 0;
    align-items: center;
  }

}

@media (min-width: 1090px) and (max-width: 1121px) {
   .discover-package-section {
    padding: 3.5rem 3rem;
    gap: 1rem;
    border-radius: 2.5rem 2.5rem 0 0;
    align-items: center;
  }

}
@media (min-width: 1058px) and (max-width: 1089px) {
   .discover-package-section {
    padding: 3.5rem 2rem;
    gap: 1rem;
    border-radius: 2.5rem 2.5rem 0 0;
    align-items: center;
  }

}

@media (min-width: 1025px) and (max-width: 1057px) {
   .discover-package-section {
    padding: 3.5rem 1rem;
    gap: 1rem;
    border-radius: 2.5rem 2.5rem 0 0;
    align-items: center;
  }

}
@media (min-width: 769px) and (max-width: 1024px) {
   .discover-package-section {
    padding: 3.5rem 2.5rem;
    gap: 1rem;
    border-radius: 2rem 2rem 0 0;
    align-items: center;
  }

}
@media (min-width: 601px) and (max-width: 768px) {

    .discover-package-section {
    padding: 2.5rem;
    gap: 1rem;
    border-radius: 1.5rem 1.5rem 0 0;
    align-items: center;
  }
  .discover-info {
    max-width: 500px;
  }
}
@media (max-width: 600px) {


  .discover-package-section {
    padding: 2rem 1rem;
    gap: 1rem;
    border-radius: 1rem 1rem 0 0;
    align-items: center;
  }

  .discover-info {
    max-width: 400px;
    text-align: left;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2.2rem;
    margin-bottom: 0.75rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

