:host {
  display: block;
  padding-top: 160px;
  min-height:80vh;
  background: #E9EFEA;
  padding: 15rem 5rem 5rem;

}

.booking {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}


